<h1>Thành phố: {{city}}</h1>
<h1>Nhiệt Độ: {{temp}}<sup>o</sup>C</h1>
<h2>Độ Ẩm: {{hump}}%</h2>
<h3>Áp Suất: {{press}}</h3>
<button class="btn btn-primary m-2" type="button" (click)="hanoi()">Hà Nội</button>
<button class="btn btn-info m-2" type="button" (click)="saigon()">TP HCM</button>
<button class="btn btn-primary m-2" type="button" (click)="london()">London</button>
<button class="btn btn-info m-2" type="button" (click)="newyork()">New York</button>
<button class="btn btn-primary m-2" type="button" (click)="tokyo()">Tokyo</button>
<button class="btn btn-info m-2" type="button" (click)="berlin()">Berlin</button>
